.AddForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddForm2 {
  position: absolute;
  right: 100px;
  top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button {
    width: 80px;
    height: 35px;
    font-size: 20px;
    margin: 3px;
  }

  body {
    font-family: "Lato", sans-serif;
  }

  .home{
    background-image: url('../images/backgrounImg.jpg'); 
    background-size: cover;
    text-shadow: 5px 10px 10px black;
    text-align: center;
  }

  .text{
    font-size: 85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(161, 183, 243);
  }

  .sidenav {
    height: 50%;
    width: 165px;
    z-index: 4;
    top: 100;
    left: 0;
    background-color: rgb(14, 39, 83);
    overflow-x: hidden;
    padding-top: 30px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  

  .topnav-right {
    float: right;
  }

  
  .btn {
    width: fit-content;
  }

    .signin {
      background-color: #d3d3d3;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-size: 14px;
      letter-spacing: 1px;
    }
    
    .login {
      position: relative;
      height: 500px;
      width: 400px;
      margin: auto;
      padding: 60px 60px;
      background: url(../images/login.jpg) no-repeat   center center #505050;   
      background-size: cover;
      box-shadow: 0px 30px 60px -5px #000;
    }
    

    .signin {
      background-color: #1161ed;
      color: #FFF;
      width: 100%;
      padding: 10px 20px;
      display: block;
      height: 39px;
      border-radius: 20px;
      margin-top: 30px;
      transition: all 0.5s ease-in-out;
      border: none;
      text-transform: uppercase;
    }
    
    .signin:hover {
      background: #4082f5;
      box-shadow: 0px 4px 35px -5px #4082f5;
      cursor: pointer;
    }
    
    .signin:focus {
      outline: none;
    }
    
      .reg {
        background-color: #d3d3d3;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
      }
      
      .register {
        position: relative;
        height: 650px;
        width: 500px;
        margin: auto;
        padding: 60px 60px;
        background: url(../images/login.jpg) no-repeat   center center #505050;   
        background-size: cover;
        box-shadow: 0px 30px 60px -5px #000;
      }
      
  
      .reg {
        background-color: #1161ed;
        color: #FFF;
        width: 100%;
        padding: 10px 20px;
        display: block;
        height: 39px;
        border-radius: 20px;
        margin-top: 30px;
        transition: all 0.5s ease-in-out;
        border: none;
        text-transform: uppercase;
      }
      
      .reg:hover {
        background: #4082f5;
        box-shadow: 0px 4px 35px -5px #4082f5;
        cursor: pointer;
      }
      
      .reg:focus {
        outline: none;
      }

      .add1 {
        position: relative;
        height: 840px;
        width: 570px;
        margin: auto;
        padding: 20px 60px;
        background: url(../images/formImg.jpg) no-repeat   center center #505050;   
        background-size: cover;
        box-shadow: 0px 30px 60px -5px #000;
      }

      .add2 {
        position: relative;
        height: 680px;
        width: 570px;
        margin: auto;
        padding: 20px 60px;
        background: url(../images/formImg.jpg) no-repeat   center center #505050;   
        background-size: cover;
        box-shadow: 0px 30px 60px -5px #000;
      }

      .add3 {
        position: relative;
        height: 710px;
        width: 570px;
        margin: auto;
        padding: 20px 60px;
        background: url(../images/formImg.jpg) no-repeat   center center #505050;   
        background-size: cover;
        box-shadow: 0px 30px 60px -5px #000;
      }

      .add4 {
        position: relative;
        height: 680px;
        width: 570px;
        margin: auto;
        padding: 20px 60px;
        background: url(../images/formImg.jpg) no-repeat   center center #505050;   
        background-size: cover;
        box-shadow: 0px 30px 60px -5px #000;
      }

      .update {
        position: relative;
        height: 460px;
        width: 570px;
        margin: auto;
        padding: 20px 60px;
        background: url(../images/formImg.jpg) no-repeat   center center #505050;   
        background-size: cover;
        box-shadow: 0px 30px 60px -5px #000;
      }

      .add5 {
        position: relative;
        height: 460px;
        width: 570px;
        margin: auto;
        padding: 20px 60px;
        background: url(../images/formImg.jpg) no-repeat   center center #505050;   
        background-size: cover;
        box-shadow: 0px 30px 60px -5px #000;
      }

      .card{
        height: 110px;
        width: 500px;
        right: 20px;
        color: #0e0d0d;
        top: -0px;
      }

      .card1{
        height: 110px;
        width: 460px;
        color: #0e0d0d;
      }

      /* Style buttons */
  .downloadBtn {
  background-color: DodgerBlue;
  width: 140px;
  height: 30px;
  border: none;
  color: white;
  padding: 0px 0px;
  cursor: pointer;
  font-size: 15px;
}

/* Darker background on mouse-over */
.downloadBtn:hover {
  background-color: RoyalBlue;
}

.Signimg{
  border-radius: 50%;
  height: 220px;
  width: 220px;
  padding: -10px;
  padding-bottom:0px;
  background: url(../images/1.png) no-repeat   center center #505050;   
}

.Signtxt{
 font-family: Georgia, serif;
  text-align: center;
  width: 300px;
  color: rgb(13, 13, 14);
  padding-left: 0px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Signbtn{
  background-color: rgb(114, 155, 231);
  height: 420px;
  width: 320px;
}

.add6 {
  position: relative;
  height: 1000px;
  width: 670px;
  margin: auto;
  padding: 20px 60px;
  background: url(../images/login.jpg) no-repeat   center center #505050;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}

.add7 {
  position: relative;
  height: 1150px;
  width: 670px;
  margin: auto;
  padding: 20px 60px;
  background: url(../images/login.jpg) no-repeat   center center #505050;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}

.sidenav {
  height: 25%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 90;
  left: 0;
  background-color: rgba(6, 12, 34, 0.98);;
  overflow-x: hidden;
  padding-top: 15px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #11c7e7;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav1 {
  height: 20%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 90;
  left: 0;
  background-color: rgba(6, 12, 34, 0.98);;
  overflow-x: hidden;
  padding-top: 15px;
}

.sidenav1 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #11c7e7;
  display: block;
}

.sidenav1 a:hover {
  color: #f1f1f1;
}

.containerR {
  border: 6px solid #4082f5;
  background-color: #f1f1f1;
  border-radius: 60px;
  padding: 10px;
  margin: 10px 0;
  width: 700px;
}

.containerR::after {
  content: "";
  clear: both;
  display: table;
}

.circle {
  width: 100px;
  height: 100px;
  line-height: 500px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #000
}

.add8 {
  position: relative;
  height: 550px;
  width: 570px;
  margin: auto;
  padding: 20px 60px;
  background: url(../images/formImg.jpg) no-repeat   center center #505050;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}

.sidenavAdmin {
  height: 14%;
  width: 321px;
  position: fixed;
  z-index: 1;
  top: 67;
  left: 0;
  background-color: rgba(6, 12, 34, 0.98);;
  overflow-x: hidden;
  padding-top: 15px;
}

.sidenavAdmin a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #11c7e7;
  display: block;
}

.sidenavAdmin a:hover {
  color: #f1f1f1;
}

.sidenavEditor {
  height: 10%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 67;
  left: 0;
  background-color: rgba(6, 12, 34, 0.98);;
  overflow-x: hidden;
  padding-top: 15px;
}

.sidenavEditor a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #11c7e7;
  display: block;
}

.sidenavEditor a:hover {
  color: #f1f1f1;
}

.about {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.about .btn {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ab62cc;
  color: rgb(243, 236, 236);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  height: 55px;
}

.about .btn:hover {
  background-color: rgb(62, 4, 80);
  color: rgb(250, 244, 244);
}


.abt {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.con {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.con:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.con .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.con li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.con .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

.update1 {
  position: relative;
  height: 250px;
  width: 570px;
  margin: auto;
  padding: 20px 60px;
  background: url(../images/formImg.jpg) no-repeat   center center #505050;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}

.flip-card {
  background-color: transparent;
  width: 800px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 60%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(201, 16, 16, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #1791e2;
  color: rgb(15, 29, 223);
  transform: rotateY(180deg);
}

.alert {
  padding: 10px;
  background-color: #555b61;
  color: white;
  top: -10px;
}

.Homebtn1{
  background-color: rgb(146, 164, 199);
  height: 420px;
  width: 320px;
}

.Homebtn2{
  background-color: rgb(77, 126, 218);
  height: 420px;
  width: 320px;
}

.Homebtn3{
  background-color: rgb(9, 89, 238);
  height: 420px;
  width: 320px;
}

.Signimg1{
  border-radius: 50%;
  height: 220px;
  width: 220px;
  padding: -10px;
  padding-bottom:0px;
  background: url(../images/r.png) no-repeat   center center #505050;   
}

.Signimg2{
  border-radius: 50%;
  height: 220px;
  width: 220px;
  padding: -10px;
  padding-bottom:0px;
  background: url(../images/w.jpg) no-repeat   center center #505050;   
}

.Signimg3{
  border-radius: 50%;
  height: 220px;
  width: 220px;
  padding: -10px;
  padding-bottom:0px;
  background: url(../images/p.png) no-repeat   center center #505050;   
}








